 <div class="alert alert-warning alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> <div class= "warning"><strong>Uh Oh</strong> Random virus A3470F has hacked your computer. This virus was created by NSA. They will now know all your secrets. This virus has destroyed <span class="destroyed">6518743</span> computers. It will take all your data, and permenately crash your computer </div> </div>

<script>
  var num = document.getElementsByClass('destroyed');
//   alert("hello");
//   num = num + 1;
//   document.getElementsByClass('destroyed') = "hi";
</script>